/* Paleta de Colores: https://www.color-hex.com/color-palette/24516 */
/*                    https://www.color-hex.com/color-palette/67396 */

/* Navbar */

.custom-navbar {
    background-color: #dd2020 !important; 
}

/* Hero */

.hero {
    background-color: #dd2020;
}

.hero-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img-wrap > img {
    height: 500px;
}

.hero .hero-img-wrap:after {
    right: -15px;
}

/* Footer */

.footer-section > .container > .sofa-img > img {
    max-width: 300px;
}

.footer-section .subscription-form h3 {
    color: #414548;
}